body {
  background-image: url(a62.png);
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 4px solid #000000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header {
  grid-column: span 5;
  color: white;
  background-color: black;
  margin: 20px;
  margin-bottom: 0px;
  padding: 0px 10px;
}

h1 {
  font-weight: normal;
  font-family: helvetica;
}

nav li {

}

nav ul {
  grid-column: span 1;
  display: inline;
  list-style-type: none;

}

nav a {
  display: block;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  margin: 20px;
  margin-top: 0px;
  font-family: helvetica;
}

nav a:hover {
  background-color: #990000;
}

main {
  grid-column: span 3;
  margin: 0px 10px;
}

main img {
  float: left;
}

.imgborder {
  border: 4px solid black;
  padding: 10px;
  margin-right: 10px;
}

.mainfont {
  text-align: justify;
  font-weight: bold;
  font-family: Georgia;
  padding-right: 5px;
}

main a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

main a:hover{
  text-decoration: underline;
  color: blue;
}
h2 {
  font-family: helvetica;
  border-bottom: 4px solid #000000;
  padding-bottom: 5px;

}

footer {
  border-top: 4px solid #000000;
  grid-column: span 4;
  background-color: red;
  color: white;
  text-align: center;
  font-style: italic;
  font-family: Verdana;
  padding: 0px 30px;
}
